

.a{
    width: 100%;
    height: 500px;
    background-color: #fb774b;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.b{
    width: 50%;
    height: 250px;
    background-color: aliceblue;

    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: space-evenly;

   
    

}
.c{
    width: 30%;
    height: 30%;
    background-color: #1d1d1d;
    
        
}